In [4]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [5]:
# # Create the connection engine
engine1 = create_engine("sqlite:///db/bellybutton.sqlite")

In [30]:
# Create the connection engine
engine2 = create_engine("sqlite:///db/belly_button_biodiversity.sqlite")

In [6]:
inspector1 = inspect(engine1)

OperationalError: (sqlite3.OperationalError) unable to open database file (Background on this error at: http://sqlalche.me/e/e3q8)

In [32]:
inspector2 = inspect(engine2)

In [3]:
inspector1.get_table_names()

NameError: name 'inspector1' is not defined

In [34]:
inspector2.get_table_names()

['otu', 'samples', 'samples_metadata']

In [35]:
columns = inspector2.get_columns("samples_metadata")
for column in columns:
    print(column["name"], column["type"])

SAMPLEID INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE INTEGER
WFREQ INTEGER
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 INTEGER
COUNTRY1319 TEXT
ZIP1319 INTEGER
DOG TEXT
CAT TEXT
IMPSURFACE013 INTEGER
NPP013 FLOAT
MMAXTEMP013 FLOAT
PFC013 FLOAT
IMPSURFACE1319 INTEGER
NPP1319 FLOAT
MMAXTEMP1319 FLOAT
PFC1319 FLOAT

In [36]:
columns = inspector1.get_columns("sample_metadata")
for column in columns:
    print(column["name"], column["type"])

sample INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE REAL
WFREQ REAL
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 TEXT
COUNTRY1319 TEXT
ZIP1319 TEXT
DOG TEXT
CAT TEXT
IMPSURFACE013 REAL
NPP013 REAL
MMAXTEMP013 REAL
PFC013 REAL
IMPSURFACE1319 TEXT
NPP1319 REAL
MMAXTEMP1319 REAL
PFC1319 REAL

In [37]:
columns = inspector1.get_columns("samples")
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
otu_label TEXT
940 INTEGER
941 INTEGER
943 INTEGER
944 INTEGER
945 INTEGER
946 INTEGER
947 INTEGER
948 INTEGER
949 INTEGER
950 INTEGER
952 INTEGER
953 INTEGER
954 INTEGER
955 INTEGER
956 INTEGER
958 INTEGER
959 INTEGER
960 INTEGER
961 INTEGER
962 INTEGER
963 INTEGER
964 INTEGER
966 INTEGER
967 INTEGER
968 INTEGER
969 INTEGER
970 INTEGER
971 INTEGER
972 INTEGER
973 INTEGER
974 INTEGER
975 INTEGER
978 INTEGER
1233 INTEGER
1234 INTEGER
1235 INTEGER
1236 INTEGER
1237 INTEGER
1238 INTEGER
1242 INTEGER
1243 INTEGER
1246 INTEGER
1253 INTEGER
1254 INTEGER
1258 INTEGER
1259 INTEGER
1260 INTEGER
1264 INTEGER
1265 INTEGER
1273 INTEGER
1275 INTEGER
1276 INTEGER
1277 INTEGER
1278 INTEGER
1279 INTEGER
1280 INTEGER
1281 INTEGER
1282 INTEGER
1283 INTEGER
1284 INTEGER
1285 INTEGER
1286 INTEGER
1287 INTEGER
1288 INTEGER
1289 INTEGER
1290 INTEGER
1291 INTEGER
1292 INTEGER
1293 INTEGER
1294 INTEGER
1295 INTEGER
1296 INTEGER
1297 INTEGER
1298 INTEGER
1308 INTEGER
1309 INTEGER
1310 INTEGER
1374 INTEGER
1415 INTEGER
1439 INTEGER
1441 INTEGER
1443 INTEGER
1486 INTEGER
1487 INTEGER
1489 INTEGER
1490 INTEGER
1491 INTEGER
1494 INTEGER
1495 INTEGER
1497 INTEGER
1499 INTEGER
1500 INTEGER
1501 INTEGER
1502 INTEGER
1503 INTEGER
1504 INTEGER
1505 INTEGER
1506 INTEGER
1507 INTEGER
1508 INTEGER
1510 INTEGER
1511 INTEGER
1512 INTEGER
1513 INTEGER
1514 INTEGER
1515 INTEGER
1516 INTEGER
1517 INTEGER
1518 INTEGER
1519 INTEGER
1521 INTEGER
1524 INTEGER
1526 INTEGER
1527 INTEGER
1530 INTEGER
1531 INTEGER
1532 INTEGER
1533 INTEGER
1534 INTEGER
1535 INTEGER
1536 INTEGER
1537 INTEGER
1539 INTEGER
1540 INTEGER
1541 INTEGER
1542 INTEGER
1543 INTEGER
1544 INTEGER
1545 INTEGER
1546 INTEGER
1547 INTEGER
1548 INTEGER
1549 INTEGER
1550 INTEGER
1551 INTEGER
1552 INTEGER
1553 INTEGER
1554 INTEGER
1555 INTEGER
1556 INTEGER
1557 INTEGER
1558 INTEGER
1561 INTEGER
1562 INTEGER
1563 INTEGER
1564 INTEGER
1572 INTEGER
1573 INTEGER
1574 INTEGER
1576 INTEGER
1577 INTEGER
1581 INTEGER
1601 INTEGER

In [38]:
columns = inspector2.get_columns("samples")
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
BB_940 INTEGER
BB_941 INTEGER
BB_943 INTEGER
BB_944 INTEGER
BB_945 INTEGER
BB_946 INTEGER
BB_947 INTEGER
BB_948 INTEGER
BB_949 INTEGER
BB_950 INTEGER
BB_952 INTEGER
BB_953 INTEGER
BB_954 INTEGER
BB_955 INTEGER
BB_956 INTEGER
BB_958 INTEGER
BB_959 INTEGER
BB_960 INTEGER
BB_961 INTEGER
BB_962 INTEGER
BB_963 INTEGER
BB_964 INTEGER
BB_966 INTEGER
BB_967 INTEGER
BB_968 INTEGER
BB_969 INTEGER
BB_970 INTEGER
BB_971 INTEGER
BB_972 INTEGER
BB_973 INTEGER
BB_974 INTEGER
BB_975 INTEGER
BB_978 INTEGER
BB_1233 INTEGER
BB_1234 INTEGER
BB_1235 INTEGER
BB_1236 INTEGER
BB_1237 INTEGER
BB_1238 INTEGER
BB_1242 INTEGER
BB_1243 INTEGER
BB_1246 INTEGER
BB_1253 INTEGER
BB_1254 INTEGER
BB_1258 INTEGER
BB_1259 INTEGER
BB_1260 INTEGER
BB_1264 INTEGER
BB_1265 INTEGER
BB_1273 INTEGER
BB_1275 INTEGER
BB_1276 INTEGER
BB_1277 INTEGER
BB_1278 INTEGER
BB_1279 INTEGER
BB_1280 INTEGER
BB_1281 INTEGER
BB_1282 INTEGER
BB_1283 INTEGER
BB_1284 INTEGER
BB_1285 INTEGER
BB_1286 INTEGER
BB_1287 INTEGER
BB_1288 INTEGER
BB_1289 INTEGER
BB_1290 INTEGER
BB_1291 INTEGER
BB_1292 INTEGER
BB_1293 INTEGER
BB_1294 INTEGER
BB_1295 INTEGER
BB_1296 INTEGER
BB_1297 INTEGER
BB_1298 INTEGER
BB_1308 INTEGER
BB_1309 INTEGER
BB_1310 INTEGER
BB_1374 INTEGER
BB_1415 INTEGER
BB_1439 INTEGER
BB_1441 INTEGER
BB_1443 INTEGER
BB_1486 INTEGER
BB_1487 INTEGER
BB_1489 INTEGER
BB_1490 INTEGER
BB_1491 INTEGER
BB_1494 INTEGER
BB_1495 INTEGER
BB_1497 INTEGER
BB_1499 INTEGER
BB_1500 INTEGER
BB_1501 INTEGER
BB_1502 INTEGER
BB_1503 INTEGER
BB_1504 INTEGER
BB_1505 INTEGER
BB_1506 INTEGER
BB_1507 INTEGER
BB_1508 INTEGER
BB_1510 INTEGER
BB_1511 INTEGER
BB_1512 INTEGER
BB_1513 INTEGER
BB_1514 INTEGER
BB_1515 INTEGER
BB_1516 INTEGER
BB_1517 INTEGER
BB_1518 INTEGER
BB_1519 INTEGER
BB_1521 INTEGER
BB_1524 INTEGER
BB_1526 INTEGER
BB_1527 INTEGER
BB_1530 INTEGER
BB_1531 INTEGER
BB_1532 INTEGER
BB_1533 INTEGER
BB_1534 INTEGER
BB_1535 INTEGER
BB_1536 INTEGER
BB_1537 INTEGER
BB_1539 INTEGER
BB_1540 INTEGER
BB_1541 INTEGER
BB_1542 INTEGER
BB_1543 INTEGER
BB_1544 INTEGER
BB_1545 INTEGER
BB_1546 INTEGER
BB_1547 INTEGER
BB_1548 INTEGER
BB_1549 INTEGER
BB_1550 INTEGER
BB_1551 INTEGER
BB_1552 INTEGER
BB_1553 INTEGER
BB_1554 INTEGER
BB_1555 INTEGER
BB_1556 INTEGER
BB_1557 INTEGER
BB_1558 INTEGER
BB_1561 INTEGER
BB_1562 INTEGER
BB_1563 INTEGER
BB_1564 INTEGER
BB_1572 INTEGER
BB_1573 INTEGER
BB_1574 INTEGER
BB_1576 INTEGER
BB_1577 INTEGER
BB_1581 INTEGER
BB_1601 INTEGER

In [39]:
columns = inspector2.get_columns("otu")
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
lowest_taxonomic_unit_found TEXT

In [42]:
query_samples = "select * from SAMPLES"
samples1 = pd.read_sql(query_samples, engine1)
samples1.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
query_samples = "select * from SAMPLES"
samples2 = pd.read_sql(query_samples, engine2)
samples2.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
query_meta1 = "select * from sample_metadata"
meta1 = pd.read_sql(query_meta1, engine1)
meta1.head()

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,None,1,NaN,33.990002,25.5
1,941,None,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,None,None,...,None,None,NaN,NaN,NaN,None,None,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,None,None,...,None,None,NaN,NaN,NaN,None,None,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,None,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,None,0,5613.0,33.634445,24.0

In [47]:
query_meta2 = "select * from samples_metadata"
meta2 = pd.read_sql(query_meta2, engine2)
meta2.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852,37.172222,54.5,0.0,1,0.0,33.990002,25.5
1,941,0,Caucasian/Midleastern,F,34,1.0,I,Chicago/IL,0,0,...,0,0,0,0.000000,0.0,0.0,0,0.0,0.000000,0.0
2,943,BellyButtonsScienceOnline,Caucasian,F,49,1.0,I,Omaha/NE,0,0,...,0,0,0,0.000000,0.0,0.0,0,0.0,0.000000,0.0
3,944,BellyButtonsScienceOnline,European,M,44,1.0,I,NewHaven/CT,usa,7079,...,no,yes,0,35.816666,16.0,0.0,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48,1.0,I,Philidelphia/PA,usa,84404,...,no,no,0,37.783333,4.0,0.0,0,5613.0,33.634445,24.0

In [48]:
query_otu = "select * from otu"
otu = pd.read_sql(query_otu, engine2)
otu.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

# Test queries for flask app

In [ ]:
stmt = "select * from samples"